# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp

captures/
